*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3B4664;
    
    
}


.calcBox{
   max-width:40%;
   margin: 0px auto;
   height: 100vh;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
   
}

.calcBox > h3{
  font-family:"Inter", sans-serif;
  color: white;
  margin-bottom: 10px;
}

.resultBox{
    background-color:#181F32;
    height: 20vh;
    border-radius: 2vh;
    margin-bottom: 5vh;
    border: none;
   

}
.resultBox:focus{
    outline: none;
}
.inputBox{
    background-color:#252D44;
    padding: 5%;
    height: 60%;
    border-radius: 2vh;

   
}

.grid-container{
    display: grid;
    gap:2vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); 
}

.grid-items{
    display: flex;
   height: 10vh;
   justify-content: center;
    align-items: center;
   color: #3B4664;
   font-family:"Inter", sans-serif;
   background: #EAE3DB;
  border-radius: 2vh;
   font-weight: 800;
   font-size: 5vh;
   cursor: pointer;
}

.resetbtn{
    background: #647299;
    font-family:"Inter", sans-serif;
    color: white;
   grid-column: 1 / span 2;
}
.equalbtn{
    background: #D13F30;
    color:white;
   
    font-family:"Inter", sans-serif;
   grid-column: 3 / span 2;

}

.dlt{
    background: #647299;
    font-family:"Inter", sans-serif;
    color: white;

}

.outputText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 8vh;
    color: white;
    padding: 2vh; 
   }

#resultText{
    text-align: right;
} 

